<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	id="com.novoapp.studio"
	version="1.0.2">

  <!-- The name that will appear on the device's home screen -->
  <name>Novo App Studio</name>

  <!-- These may appear in app store listings -->
  <description>A simple Novo App Studio apps.</description>
  <author email="support@davidsonbpe.com" href="https://br.pinterest.com/davidsonbpe/">
    App Studio apps.
  </author>


  <!-- The domain(s) the app can communicate with -->
  <access origin="https://br.pinterest.com/davidsonbpe/" />

  <!-- The URLs allowed to be externally opened -->
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <icon src="resources/iconTemplate.png" />

  <preference name="SplashScreenDelay" value="2000" />
  <preference name="SplashScreenBackgroundColor" value="#000000" />

  <!-- iOS -->
  <platform name="ios">
  </platform>

  <!-- Android -->
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splashTemplate.png" />
  </platform>

  <plugin name="cordova-plugin-device" spec="^3.0.0" />

</widget>
